p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul,
ol {
  margin: 0px;
  padding-left: 0px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #757575;
  font-size: 14px;
  background-color: #ffffff;
  letter-spacing: 0.03em;
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.section-title {
  text-align: center;
  color: #212121;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: em;
    margin-bottom: 50px;
  }
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: #2196f3;
}

:focus {
  outline: 1px solid #2196f3;
  border-radius: 4px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  padding: 0px 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.btn {
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  display: flex;
  min-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus {
  background-color: #188ce8;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn_padding-hero {
  padding: 10px 24px;
}
@media screen and (min-width: 1200px) {
  .btn_padding-hero {
    padding: 10px 32px;
  }
}

.btn_padding-modal {
  padding: 10px 52px;
}

.btn-portfolio {
  border-radius: 4px;
  border: none;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.85;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  padding: 6px 25px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-portfolio:hover, .btn-portfolio:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .join-wrapper {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .join-wrapper {
    display: block;
    margin-left: 70px;
  }
}

.join-wrapper__tittle,
.subscribe__tittle {
  font-size: px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  color: #ffffff;
  text-transform: uppercase;
}

.join-wrapper__list {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .join-wrapper__list {
    margin-bottom: 0;
  }
}

.join-wrapper__soc {
  width: 44px;
  height: 44px;
}

.join-wrapper__soc-icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join-wrapper__soc-icon:hover, .join-wrapper__soc-icon:focus {
  background-color: #2196f3;
}

.join-wrapper__icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .subscribe {
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: 93px;
  }
}

.subscribe__email {
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
  width: 100%;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: em;
  color: #ffffff;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe__email:hover, .subscribe__email:focus {
  border-color: #2196f3;
}
.subscribe__email::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__email:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__email::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 768px) {
  .subscribe__email {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__email {
    width: 358px;
  }
}

.subscribe__icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
  margin-left: 10px;
  align-items: baseline;
}

.subscribe__btn {
  display: flex;
  min-width: 144px;
  margin: 20px auto 0;
  margin-top: 20px;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: hidden;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe__btn:hover, .subscribe__btn:focus {
  background-color: #188ce8;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 1200px) {
  .subscribe__btn {
    margin-top: 0;
    display: inline-flex;
    align-items: center;
    margin-left: 12px;
  }
}

.modal {
  position: fixed;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition-property: visibility, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal__window {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
@media screen and (max-width: 479px) {
  .modal__window {
    width: 95%;
  }
}
@media screen and (min-width: 480px) {
  .modal__window {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal__window {
    width: 528px;
    height: 581px;
  }
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
}

.modal__btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000000;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn-close:hover, .modal__btn-close:focus {
  color: #2196f3;
}

.modal__icon {
  width: 11px;
  height: 11px;
  fill: currentColor;
}

.modal__heading {
  margin-bottom: 12px;
  color: #212121;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .modal__heading {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
  }
}

.modal__form-window {
  width: 528px;
  height: 581px;
}

.modal__input-group {
  margin-bottom: 10px;
}

.modal__input-group_comment {
  margin-bottom: 20px;
}

.modal__input-group-footer {
  margin-bottom: 30px;
}

.modal__input-group label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  margin-bottom: 4px;
}

.modal__input {
  display: flex;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus {
  border-color: #2196f3;
}
.modal__input:focus + svg {
  fill: #2196f3;
}

.modal__input-wrapper {
  position: relative;
}

.modal__input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: #212121;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__text {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 10px;
  color: #303030;
  resize: vertical;
  max-height: 250px;
  padding: 12px 16px;
  resize: none;
}
.modal__text::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.modal__text:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.modal__text::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

label.modal__politic-label {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  label.modal__politic-label {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.modal__icon-check {
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.modal__icon-check svg {
  fill: transparent;
}
@media screen and (min-width: 1200px) {
  .modal__icon-check {
    margin-left: 12px;
  }
}

.modal__politic-check:checked + label > span {
  border: none;
  background-color: #2196f3;
}
.modal__politic-check:checked + label > span svg {
  fill: #fff;
}

.modal__link {
  color: #2196f3;
  margin-left: 4px;
}

.logo {
  font-family: "Raleway";
  color: #2196f3;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

.logo_black {
  color: #000000;
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .logo_black {
    margin-right: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .logo_black {
    margin-right: 93px;
  }
}

.logo_white {
  color: #ffffff;
}

.nav {
  align-items: center;
}
@media (max-width: 767px) {
  .nav {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
  }
}

.nav__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
  }
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__item_modify {
  position: relative;
}

.nav__link {
  display: block;
  font-weight: 500;
  font-size: px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  fill: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:focus, .nav__link:hover {
  color: #2196f3;
}

.nav__link_modify {
  color: #2196f3;
}
.nav__link_modify::after {
  position: absolute;
  margin-top: 28px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.nav__link_padding {
  padding: 32px 0;
}

.mob-menu__btn {
  width: 40px;
  height: 40px;
  right: 0;
  padding: 0;
  border-radius: none;
  border-style: hidden;
  color: #212121;
  background-color: #ffffff;
}
.mob-menu__btn:focus {
  color: #2196f3;
}
@media (min-width: 768px) {
  .mob-menu__btn {
    display: none;
  }
}

.mob-menu__icon {
  width: 100%;
  height: 100%;
  fill: currentColor;
}
.mob-menu__icon:focus {
  fill: currentColor;
}

.contact-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .contact-list {
    display: block;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .contact-list {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .contact-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-list__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.contact-list__mail-tel {
  font-weight: 500;
  font-size: px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.contact-list__icon-size-email {
  fill: currentColor;
}
@media screen and (min-width: 768px) {
  .contact-list__icon-size-email {
    width: 14px;
    height: 10px;
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-list__icon-size-email {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
}

.contact-list__icon-size-tel {
  fill: currentColor;
}
@media screen and (min-width: 768px) {
  .contact-list__icon-size-tel {
    width: 10px;
    height: 14px;
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-list__icon-size-tel {
    width: 10px;
    height: 16px;
    margin-right: 10px;
  }
}

.mobile__btn-open {
  height: 40px;
  width: 40px;
  padding: 0;
  background-color: transparent;
  border: none;
  fill: #212121;
}
.mobile__btn-open:hover, .mobile__btn-open:focus {
  fill: #2196f3;
}
@media screen and (min-width: 768px) {
  .mobile__btn-open {
    display: none;
  }
}

.mobile {
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

.mobile__btn-close {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 10px;
  right: 15px;
  padding: 0;
  background-color: transparent;
  border: none;
  fill: #212121;
}
.mobile__btn-close:hover, .mobile__btn-close:focus {
  fill: #2196f3;
}

.mobile__icon-open-close {
  width: 100%;
  height: 100%;
  fill: currentColor;
}
.mobile__icon-open-close:focus {
  fill: currentColor;
}

.mobile__menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #fff;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  z-index: 1;
}

@media (min-width: 768px) {
  .mobile__menu {
    display: none;
  }
}
.mobile__menu.is-open {
  transform: translateX(0);
}

.mobile__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile__link:hover, .mobile__link:focus {
  color: #2196f3;
}
@media (max-width: 340px) {
  .mobile__link {
    font-size: 28px;
  }
}

.mobile__current-page {
  color: #2196f3;
}

.mobile__contact {
  position: absolute;
  bottom: 0px;
}

.mobile__list-contact {
  margin-bottom: 64px;
}

.mobile__contact-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile__link-contact-tel {
  font-weight: 500;
  font-size: 29px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
}
@media screen and (min-width: 480px) {
  .mobile__link-contact-tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
  }
}

.mobile__link-contact-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-socmedia {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0px;
}

.mobile-socmedia {
  margin-bottom: 48px;
  gap: 40px;
}
@media screen and (min-width: 480px) {
  .mobile-socmedia {
    gap: 0;
  }
}

.mobile-socmedia__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-divide {
  margin: 0 10px;
  height: 22px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.header {
  border-bottom: 1px solid #eeeeee;
}

.header__section {
  display: flex;
  align-items: center;
  min-height: 60px;
}

.hero {
  display: block;
  max-width: 100%;
  height: auto;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-background-mob.jpg);
  background-size: cover;
  padding: 118px 0;
  text-align: center;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-background-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-background-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-background-tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-background.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-background-2x.jpg);
  }
}

.hero__title {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    max-width: 696px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    padding-bottom: 0;
  }
}

.advantages__list {
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
}

.advantages__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .advantages__item {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item {
    width: calc((100% - 120px) / 4);
  }
}

.advantages__icons {
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 30px;
}

.advantages__icon {
  width: 70px;
  height: 70px;
}

.advantages__title {
  font-size: px;
  line-height: 1.14;
  letter-spacing: em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .advantages__title {
    text-align: start;
  }
}

.advantages__text {
  line-height: 1.71;
  color: inherit;
}

@media (max-width: 1199px) {
  .info {
    display: none;
  }
}

.info__list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  justify-content: center;
}

.info__block {
  display: block;
  position: relative;
}

.info__box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 224px;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.info__text {
  text-transform: uppercase;
  line-height: 1.14;
  color: #f5f4fa;
}

.team {
  background-color: #f5f4fa;
}

.team__list {
  display: flex;
  justify-content: center;
}

.team__list {
  display: flex;
  gap: 30px;
}
@media (max-width: 1199px) {
  .team__list {
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .team__list {
    justify-content: center;
  }
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: em;
  text-align: center;
  color: #212121;
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.team__name-work {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .team__name-work {
    padding: 30px 0;
  }
}

.team__position {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: em;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 16px;
}

.team__contacts {
  gap: 10px;
  justify-content: center;
  display: flex;
}

.team__logo {
  width: 44px;
  height: 44px;
}

.team__contact {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #afb1b8;
  background-color: #ffffff;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__contact:hover, .team__contact:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.team__icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.client__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.client__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover, .client__link:focus {
  border-color: #2196f3;
  color: #2196f3;
}

.client__item {
  width: 210px;
  height: 92px;
}
@media screen and (min-width: 768px) {
  .client__item {
    width: 226px;
    height: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .client__item {
    width: 170px;
    height: 92px;
  }
}

.client__logo {
  fill: currentColor;
  width: 106px;
  height: 60px;
}

.footer {
  background: #2f303a;
  padding: 60px 0;
}

.footer__container {
  display: block;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    flex-wrap: nowrap;
    text-align: start;
  }
}

.footer__flex {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__flex {
    flex-direction: column;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .footer__flex {
    display: block;
    margin-bottom: 0;
    margin-right: 0;
    width: 231px;
    text-align: start;
  }
}

.footer__adress {
  margin-top: 20px;
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__addres {
  font-style: normal;
  line-height: 1.71;
  color: #ffffff;
  text-decoration: none;
}

.footer__mail-tel {
  font-style: normal;
  font-size: px;
  line-height: 1.71;
  letter-spacing: em;
  color: rgba(255, 255, 255, 0.6);
}

.portfolio__list {
  -moz-column-gap: 8px;
       column-gap: 8px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  justify-content: left;
}
@media screen and (min-width: 768px) {
  .portfolio__list {
    max-width: 100%;
    margin-bottom: 30px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__list {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .portfolio__list > li:nth-child(-n+3) {
    margin-bottom: 15px;
  }
}
.portfolio__picters-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .portfolio__picters-list .portfolio__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__picters-list .portfolio__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.under-pict-border {
  flex-grow: 1;
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio__item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item:hover, .portfolio__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__item:hover .overlay__box {
  transform: translateY(0);
}

.portfolio__block {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.overlay {
  overflow: hidden;
  position: relative;
}

.overlay__box {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(33, 150, 243, 0.9);
}
@media screen and (min-width: 768px) {
  .overlay__box {
    padding: 77px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .overlay__box {
    padding: 63px 24px;
  }
}

.overlay__text {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: em;
}

.project-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.project-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: em;
}/*# sourceMappingURL=main.css.map */