.container {
  width: 100%;
  padding: 0px 16px;
  margin: 0 auto;

  @include mobile-320 {
    width: 320px;
  }

  @include mobile-480 {
    width: 480px;
  }
  @include tablet {
    width: 768px;
    flex-wrap: wrap;
  }
  @include desktop {
    width: 1200px;
  }
}
