body {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  // font-size: 14px;
  // background-color: $white-color;
  // letter-spacing: 0.03em;
}

.section {
  // padding: 60px 0;
  // @include desktop {
  //   padding: 94px 0;
  // }
}

.section-title {
  // text-align: center;
  // color: $first-color;
  // @include font(null, 28, 1.18, null);
  // margin-bottom: 30px;

  // @include desktop {
  //   @include font(null, 36, 1.16, null);
  //   margin-bottom: 50px;
  // }
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
  // color: #000000;
}

// .link:hover,
// .link:focus {
//   color: $accent-text-button-color;
// }

:focus {
  // outline: 1px solid $accent-color;
  // border-radius: 4px;
}
