// Палитра цветов макета и наборы шрифтов вынесены в переменные в файле variables.scss,
// который лежит в папке sass/utils. Можно использовать CSS или SASS переменные (по желанию).
$background-color: #84a178;
$text-button-color: #f8d24e;
$accent-text-button-color: #0a8817;
$disable-text-button-color: #ababab;
$text-color: #000000;
$second-text-color: #fcfcfc;
$default-color-svg: #84a178;
$white-color: #ffffff;

// $accent-color: #2196f3;
// $first-color: #212121;
// $white-color: #ffffff;
// $black-color: #000000;
// $gray-color: #757575;
// $bkgr-color-footer: #2f303a;
// $border-color: #eeeeee;
// $margin-standart: 30px;
// $gap-picters: 30px;
// $background-color: #f5f4fa;
// $icon-color: #afb1b8;
// $background-overlay-color: rgba(33, 150, 243, 0.9);
